body {
  user-select: none;
  box-sizing: border-box;
  height: 100vh;
  color: white;
  background-color: #333;
  touch-action: manipulation;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

